*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: linear-gradient(red, green);
  --light-grey: #f5f6f7;
  --white: #ffffff;
  --black: #000;
}
body {
  background-image: linear-gradient(rgba(230, 47, 47, 0.971), rgb(43, 187, 43));
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 10px;
}
.title,
.options-label,
.team-stats,
footer {
  color: var(--white);
}
.title {
  margin: 1.3rem 0;
}
.team-stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.2rem;
  margin: 1.3rem 0;
}
.options-label {
  font-size: 1.2rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.player-card {
  background-image: linear-gradient(rgb(3, 87, 3), rgb(120, 6, 6));
  box-shadow: #f5f6f7;
  padding: 1.3rem;
  margin: 1.2rem;
  width: 300px;
  border-radius: 15px;
}
img {
  border-radius: 10px;
}
@media (max-width: 768px) {
  .team-stats {
    flex-direction: column;
  }
}
